/**
 * =============================================================================
 * ************   Button   ************
 * =============================================================================
 */
/* 默认为 Flat 扁平按钮 */
.moeui-btn,
.moeui-fab {
    position: relative;
    display: inline-block;
    min-width: 88px;
    height: 36px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 16px;
    margin: 0;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .04em;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    zoom: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: transparent;
    border: none;
    border-radius: 2px;
    outline: none;
    -webkit-transition: all .2s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1);
    transition: all .2s cubic-bezier(.4, 0, .2, 1), -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1);
    transition: all .2s cubic-bezier(.4, 0, .2, 1), box-shadow .2s cubic-bezier(.4, 0, 1, 1);
    transition: all .2s cubic-bezier(.4, 0, .2, 1), box-shadow .2s cubic-bezier(.4, 0, 1, 1), -webkit-box-shadow .2s cubic-bezier(.4, 0, 1, 1);

    will-change: box-shadow;
    -webkit-user-drag: none;
}
.moeui-btn:hover,
.moeui-fab:hover {
    background-color: rgba(0, 0, 0, .1);
}
.moeui-btn:not(.moeui-ripple):active,
.moeui-fab:not(.moeui-ripple):active {
    background-color: rgba(0, 0, 0, .165);
}
.moeui-btn[class*="moeui-color-"]:hover,
.moeui-fab[class*="moeui-color-"]:hover {
    opacity: .87;
}
.moeui-btn:not(.moeui-ripple)[class*="moeui-color-"]:active,
.moeui-fab:not(.moeui-ripple)[class*="moeui-color-"]:active {
    opacity: .76;
}
/* 按钮内的图标 */
.moeui-btn .moeui-icon-left,
.moeui-btn .moeui-icon-right,
.moeui-btn .moeui-icon-left::before,
.moeui-btn .moeui-icon-right::before {
    height: inherit;
    font-size: 1.3em;
    line-height: inherit;
}
.moeui-btn .moeui-icon-left {
    float: left;
    margin-right: .4em;
}
.moeui-btn .moeui-icon-right {
    float: right;
    margin-left: .4em;
}
input.moeui-btn[type="submit"] {
    -webkit-appearance: none;

    -moz-appearance: none;
    appearance: none;
}
/* Raised button 浮动按钮 */
.moeui-btn-raised {
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.moeui-btn-raised:hover {
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}
.moeui-btn-raised:active {
    -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
}
/* 禁用按钮 */
.moeui-btn[disabled],
.moeui-fab[disabled],
.moeui-btn[disabled]:hover,
.moeui-fab[disabled]:hover,
.moeui-btn[disabled]:active,
.moeui-fab[disabled]:active,
.moeui-btn[disabled]:focus,
.moeui-fab[disabled]:focus {
    color: rgba(0, 0, 0, .26) !important;
    cursor: default !important;
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    opacity: 1 !important;
}
.moeui-btn[disabled] .moeui-icon,
.moeui-fab[disabled] .moeui-icon,
.moeui-btn[disabled]:hover .moeui-icon,
.moeui-fab[disabled]:hover .moeui-icon,
.moeui-btn[disabled]:active .moeui-icon,
.moeui-fab[disabled]:active .moeui-icon,
.moeui-btn[disabled]:focus .moeui-icon,
.moeui-fab[disabled]:focus .moeui-icon {
    color: rgba(0, 0, 0, .26) !important;
}
/* 禁用状态浮动按钮和浮动操作按钮 */
.moeui-btn-raised[disabled],
.moeui-fab[disabled],
.moeui-btn-raised[disabled]:hover,
.moeui-fab[disabled]:hover,
.moeui-btn-raised[disabled]:active,
.moeui-fab[disabled]:active,
.moeui-btn-raised[disabled]:focus,
.moeui-fab[disabled]:focus {
    background-color: rgba(0, 0, 0, .12) !important;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
}
/* 加粗按钮文本 */
.moeui-btn-bold {
    font-weight: bold;
}
/* 图标按钮 */
.moeui-btn-icon {
    width: 36px;
    min-width: 36px;
    height: 36px;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    overflow: hidden;
    font-size: 24px;
    line-height: normal;
    border-radius: 50%;
}
.moeui-btn-icon .moeui-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    line-height: 24px;
    -webkit-transform: translate(-12px, -12px);
    transform: translate(-12px, -12px);
}
.moeui-btn-icon.moeui-ripple {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
/* 按钮 100% 宽度 */
.moeui-btn-block {
    display: block;
    width: 100%;
}
/* 密集型按钮 */
.moeui-btn-dense {
    height: 32px;
    font-size: 13px;
    line-height: 32px;
}
.moeui-btn-dense.moeui-btn-icon {
    width: 32px;
    min-width: 32px;
}
/* 按钮组 */
.moeui-btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.moeui-btn-group .moeui-btn {
    float: left;
    min-width: inherit;
    padding: 0 12px;
    color: rgba(0, 0, 0, .54);
    border-radius: 0;
}
.moeui-btn-group .moeui-btn:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    content: ' ';
    border-left: 1px solid transparent;
}
.moeui-btn-group .moeui-btn:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.moeui-btn-group .moeui-btn:first-child:before {
    border-left: none;
}
.moeui-btn-group .moeui-btn:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.moeui-btn-group .moeui-btn.moeui-btn-active {
    color: rgba(0, 0, 0, .87);
    background-color: rgba(0, 0, 0, .215);
}
.moeui-btn-group .moeui-btn.moeui-btn-active + .moeui-btn-active:before {
    border-left: 1px solid rgba(0, 0, 0, .145);
}
/**
 * =============================================================================
 * ************   Button dark   ************
 * =============================================================================
 */
.moeui-theme-layout-dark .moeui-btn:hover,
.moeui-theme-layout-dark .moeui-fab:hover {
    background-color: rgba(255, 255, 255, .1);
}
.moeui-theme-layout-dark .moeui-btn:not(.moeui-ripple):active,
.moeui-theme-layout-dark .moeui-fab:not(.moeui-ripple):active {
    background-color: rgba(255, 255, 255, .165);
}
.moeui-theme-layout-dark .moeui-btn[class*="moeui-color-"]:hover,
.moeui-theme-layout-dark .moeui-fab[class*="moeui-color-"]:hover {
    opacity: .87;
}
.moeui-theme-layout-dark .moeui-btn:not(.moeui-ripple)[class*="moeui-color-"]:active,
.moeui-theme-layout-dark .moeui-fab:not(.moeui-ripple)[class*="moeui-color-"]:active {
    opacity: .76;
}
.moeui-theme-layout-dark .moeui-btn[disabled],
.moeui-theme-layout-dark .moeui-fab[disabled],
.moeui-theme-layout-dark .moeui-btn[disabled]:hover,
.moeui-theme-layout-dark .moeui-fab[disabled]:hover,
.moeui-theme-layout-dark .moeui-btn[disabled]:active,
.moeui-theme-layout-dark .moeui-fab[disabled]:active,
.moeui-theme-layout-dark .moeui-btn[disabled]:focus,
.moeui-theme-layout-dark .moeui-fab[disabled]:focus {
    color: rgba(255, 255, 255, .3) !important;
    background-color: transparent !important;
}
.moeui-theme-layout-dark .moeui-btn[disabled] .moeui-icon,
.moeui-theme-layout-dark .moeui-fab[disabled] .moeui-icon,
.moeui-theme-layout-dark .moeui-btn[disabled]:hover .moeui-icon,
.moeui-theme-layout-dark .moeui-fab[disabled]:hover .moeui-icon,
.moeui-theme-layout-dark .moeui-btn[disabled]:active .moeui-icon,
.moeui-theme-layout-dark .moeui-fab[disabled]:active .moeui-icon,
.moeui-theme-layout-dark .moeui-btn[disabled]:focus .moeui-icon,
.moeui-theme-layout-dark .moeui-fab[disabled]:focus .moeui-icon {
    color: rgba(255, 255, 255, .3) !important;
}
.moeui-theme-layout-dark .moeui-btn-raised[disabled],
.moeui-theme-layout-dark .moeui-fab[disabled],
.moeui-theme-layout-dark .moeui-btn-raised[disabled]:hover,
.moeui-theme-layout-dark .moeui-fab[disabled]:hover,
.moeui-theme-layout-dark .moeui-btn-raised[disabled]:active,
.moeui-theme-layout-dark .moeui-fab[disabled]:active,
.moeui-theme-layout-dark .moeui-btn-raised[disabled]:focus,
.moeui-theme-layout-dark .moeui-fab[disabled]:focus {
    background-color: rgba(255, 255, 255, .12) !important;
}